body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f4f4f9;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    min-height: 50vh; /* Ensures it's half a scroll length */
}

.placeholder {
    width: 80%;
    height: 200px;
    margin: 10px;
    background-color: #000; /* Black background */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.button-container {
    margin: 20px 0;
}

button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #45a049;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
